fastapi
uvicorn[standard]
pydantic
python-dotenv
playwright
google-generativeai
google-cloud-translate
google-auth
httpx
nest-asyncio
Pillow
pytesseract
yt-dlp
pytest-playwright
requests
PyJWT
cryptography
email-validator
grpcio
google-cloud-core
google-cloud-firestore
firebase-admin